@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;700;800;900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  /* outline: 1px solid red; */
}
.container {
  background-color: #043873;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url(./images/Element.png);
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 0px 0px 10px 10px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lg {
  margin: 50px 100px;
  width: 30%;
}
.menu {
  /* margin-top: 50px; */
  /* width: 900px; */
  margin-left: -450px;
}
.menu ul {
  list-style: none;
}
.menu ul li {
  display: inline;
}
.menu ul li a {
  text-decoration: none;
  color: white;
  display: inline;
  padding: 25px;
}
.menu ul li a:hover{
  color: #fdd356;
}
.btn {
  margin-right: 100px;
}
.one {
  /* margin-left: -50px; */
  width: 80px;
  height: 45px;
  background-color: #fdd356;
  border-radius: 10px;
  border-color: transparent;
  font-weight: bold;
}
.one:hover{
  background-color: #4f9cf9;
  transition: 0.4s;
  cursor: pointer;

}
.two {
  width: 200px;
  height: 45px;
  background-color: #4f9cf9;
  border-radius: 10px;
  border-color: transparent;
  font-weight: bold;
}
.main {
  display: flex;
  margin-left: 100px;
  margin-right: 100px;
  align-items: center;
  margin-top: 80px;
}
.chobi {
  width: 550px;
  height: 350px;
  background-image: url(./images/heroimg.svg);
  object-fit: cover;
  /* background-color: #a7cefc; */
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-left: 30px;
}
.title {
  font-size: 65px;
  color: white;
  margin-bottom: 20px;
}
.para {
  color: white;
  margin-bottom: 20px;
}
.thr {
  width: 200px;
  height: 45px;
  background-color: #4f9cf9;
  border-radius: 10px;
  border-color: transparent;
  color: white;
  font-weight: bold;
}
.second {
  height: 80vh;
  display: flex;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
  overflow: hidden;
  background-image: url(./images/BACKGROUND.png);
  background-repeat: no-repeat;
  position: relative;
}
.mtext {
  font-size: 65px;
  margin-bottom: 20px;
}
/* .vector{
    margin-top: -80px;
    z-index: -1;
} */
.four {
  margin-top: 20px;
  width: 200px;
  height: 45px;
  background-color: #4f9cf9;
  border-radius: 10px;
  border-color: transparent;
  color: white;
  font-weight: bold;
}

.schobi {
  width: 500px;
  height: 350px;
  /* background-color: #a7cefc; */
  /* background-image: url(./images/project\ manager.svg); */
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-left: 30px;
}
.schobi >img{
  width: 100%;
}
.third {
  height: 100vh;
  display: flex;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
  overflow: hidden;
  background-repeat: no-repeat;
  position: relative;
}
.thrimg {
  width: 550px;
  height: 500px;
  margin-right: 30px;
}
/* .rgt{
    margin: 40px;
} */
.titlethrd {
  font-size: 65px;
  color: black;
  margin-bottom: 20px;
  margin-left: 50px;
}
.parathrd {
  color: black;
  margin-bottom: 20px;
  margin-left: 50px;
}
.five {
  margin-top: 20px;
  margin-left: 50px;
  width: 150px;
  height: 45px;
  background-color: #4f9cf9;
  border-radius: 10px;
  border-color: transparent;
  color: white;
  font-weight: bold;
}
.fourth {
  background-color: #043873;
  background-image: none;
  height: 60vh;
  background-image: url(./images/Element.png);
  display: flex;
  align-items: center;
  border-radius: 10px;
}
.frthleft {
  margin-left: 100px;
}
.frthtext {
  font-size: 65px;
  color: white;
  margin-bottom: 20px;
}
.frthpara {
  color: white;
  margin-bottom: 25px;
}
.six {
  margin-top: 20px;
  width: 150px;
  height: 45px;
  background-color: #4f9cf9;
  border-radius: 10px;
  border-color: transparent;
  color: white;
  font-weight: bold;
}
.frthright {
  margin-right: 100px;
}
.frthchobi {
  width: 500px;
  height: 300px;
  background-color: #4f9cf9;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-left: 30px;
}
.frthchobi >img{
  width: 100%;
}
.fifth {
  height: 60vh;
  display: flex;
  align-items: center;
}
.fifthlft {
  margin-left: 100px;
}
.fifthchobi {
  width: 500px;
  height: 300px;
  /* background-color: #a7cefc; */
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-right: 50px;
}
.fifthchobi>img{
  width: 100%;
}
.fifthrgt {
  margin-right: 100px;
}
.fifthtitle {
  font-size: 65px;
  color: black;
  margin-bottom: 20px;
}
.sixth {
  display: flex;
  align-items: center;
  margin-left: 250px;
  margin-right: 250px;
  flex-direction: column;
}
.sixtitle {
  font-size: 65px;
  margin-top: 80px;
  margin-bottom: 20px;
}
.seventh {
  margin: 50px 100px;
}
.plist{
  width: 1180px;
}
.eighth{
  height: 60vh;
  background-color: #043873;
  background-image: url(./images/Element.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  
}
.eightcontent{
  margin: 20px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.eigtitle{
  font-size: 65px;
  color: white;
  margin-top: 15px;
  margin-bottom: 20px;
}
.eigpara{
  color: white;
  margin-bottom: 20px;
}
.ninth{
  height: 60vh;
  display: flex;
  align-items: center;
}
.ninleft{
  margin-left: 100px;

}
.nintext{
  font-size: 65px;
}
.ninimg{
  margin-right: 100px;
  width: 500px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-left: 30px;

}
.tenth{
  height: 50vh;
  display: flex;
  align-items: center;
  margin: 50px 100px;
  flex-direction: column;
  justify-content: center;
}
.tentitle{
  font-size: 65px;
  margin-bottom: 50px;
}
.tenimg{
  width: 90%;
}
.eleventh{
  height: 80vh;
  background-color: #043873;
  background-image: url(./images/Element.png);
  display: flex;
  align-items: center;
  border-radius: 10px;

}
.elelft{
  margin-left: 100px;
}
.eleimg{
  width: 450px;
  margin-right: 60px;
}
.elergt{
  margin-right: 100px;

}
.eletitle{
  color:white;
  font-size: 55px;
  margin-bottom: 20px;
}
.elepara{
  color: white;
  margin-bottom: 20px;
  font-weight: lighter;
}
.thrtn{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.thrtntitle{
  font-size: 65px;
  margin-left: 100px;
  margin-top: 50px;
  /* align-items: center; */
}
.thrtnimg{
  width: 85%;
  margin-top: 30px;
}
.footer{
  height: 80vh;
  background-color: #043873;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px 10px 0px 0px;
}
.footertitle{
  font-size: 55px;
  color: white;
}
.space{
  margin-top: 20px;
}
.footerpara{
  color: white;

}
.footer{
  background-color: #043873;
}
.lastelement{
  width: 100%;
  border: none;
  overflow: hidden;
}
.hvr{
  color: black;
  font-size: 16px;
}
.hvr:hover{
  background-color: #fdd356;
  transition: 0.4s;
  color: black;
  cursor: pointer;
}
span{
  color: #fdd356;
}